.content {
  width: $mobile-width;
  margin: auto;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 80px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    @include font-set(36px, 50px, 100, $white, center);
    font-family: "Exo 2.0", "Arial", sans-serif;
    text-shadow: 0 1px $black;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include list-reset;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__list-item {
    box-sizing: border-box;
    width: 320px;
    margin-bottom: 50px;

    @media (min-width: $tablet-width) {
      &:nth-child(2n) {
        margin-left: 80px;

        @media (min-width: $desktop-width) {
          margin-right: 80px;
        }
      }
    }
  }
}
