.item-card {
  &__wrapper {
    position: relative;

    margin-bottom: 14px;
    padding: 4px;

    background-image: linear-gradient(135deg, transparent 30px, $blue 30px);
    border-radius: 12px;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      background-image: linear-gradient(135deg, transparent 30px, $red 30px);
    }

    &--disabled {
      background-image: linear-gradient(135deg, transparent 30px, $lightgrey 30px);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        display: block;
        width: 100%;
        height: 480px;

        background-image: linear-gradient(135deg, transparent 30px, $white 30px);
        border-radius: 12px;
        opacity: 0.6;
      }
    }
  }

  &__title {
    padding: 11px 0 0 43px;

    @include font-set(16px, 30px, normal, $grey, left);
  }

  &__sort {
    @include font-set(24px, 23px, bold, $black, left);
  }

  &__quantity {
    box-sizing: border-box;
    padding-right: 5px;
  }

  &__text {
    @include font-set(14px, 15px, 400, $grey, left);
  }

  &__table {
    display: block;
    width: 100%;

    border-collapse: collapse;

    background-image: linear-gradient(135deg, transparent 28px, #ffffff 30px);
    border-radius: 8px;

    tbody {
      display: block;
    }
  }

  &__row {
    position: relative;

    display: flex;

    &:nth-child(3) {
      padding-top: 15px;
    }
  }

  &__cell {
    box-sizing: border-box;
    min-height: 17px;
    padding-left: 44px;
  }

  &__brand {
    padding-left: 43px;

    @include font-set(48px, 54px, bold, $black, left);
  }

  &__image {
    display: block;
    height: 284px;
    padding: 0;
    overflow: hidden;

    border-radius: 8px;

    img {
      position: relative;
      top: 15px;
      left: -28px;
    }
  }

  &__weight {
    position: absolute;
    top: -92px;
    right: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 79px;
    height: 79px;
    padding: 10px 0;

    background-color: $blue;
    border-radius: 50px;

    &--selected {
      background-color: $red;
    }

    &--disabled {
      background-color: $grey;
    }
  }

  &__volume {
    @include font-set(42px, 42px, 400, $white, center);
  }

  &__unit {
    @include font-set(21px, 22px, 400, $white, center);
  }

  &__description-list {
    padding-left: 0;
  }

  &__description-item {
    @include list-reset;
    @include font-set(13px, 16px, 400, $white, center);

    &--disabled {
      display: none;

      color: $yellow;
    }

    &--selected {
      display: none;
    }
  }

  &__link {
    color: $blue;

    &--underline {
      color: $blue;

      border-bottom: 1px dashed $blue;
    }
  }

  &__checkbox:disabled + .item-card__wrapper {
    background-image: linear-gradient(135deg, transparent 30px, $lightgrey 30px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      display: block;
      width: 100%;
      min-height: 480px;

      background-image: linear-gradient(135deg, transparent 30px, $white 30px);
      border-radius: 12px;
      opacity: 0.6;
    }
  }

  &__checkbox:disabled ~ .item-card__description-list li:nth-child(3) {
    display: block;
  }

  &__checkbox:disabled ~ .item-card__description-list li:nth-child(1) {
    display: none;
  }

  &__checkbox:checked ~ .item-card__description-list li:nth-child(2) {
    display: block;
  }

  &__checkbox:checked ~ .item-card__description-list li:nth-child(1) {
    display: none;
  }

  &__checkbox:disabled + .item-card__wrapper:hover {
    cursor: default;
  }
}
