body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  @include font-set(18px, 32px, 700, $black, left);

  background: url("../img/Pattern.jpg") repeat;
  background-color: $black;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,$black 0%,transparent 50%,$black 100%);
    opacity: 0.5;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

//* {outline: 1px solid red};
