$grey: #666666;
$lightgrey: #b3b3b3;
$white: #ffffff;
$red: #d91667;
$blue: #1698d9;
$black: #000000;
$yellow: #ffff66;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1280px;
$mobile-width-only: 319px;
$tablet-width-only: 659px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
